  <div style="justify-content: center; display: flex">
    <h1>Airport web server</h1>
  </div>
  <div style="display: flex; flex-direction: row; justify-content: space-evenly">
    <button (click)="this.setRangeForm()">
      Range Form
    </button>
    <button (click)="this.setAverageForm()">
      Average Form
    </button>
  </div>

  <div *ngIf="isRangeForm" style="margin-top: 20px">
    <form>
      <div style="display: flex; flex-direction: row; justify-content: space-evenly">
        <div>
          <label>
            airport
            <select name="airport" [(ngModel)]="airportSelected">
              <option *ngFor="let airport of airports" [value]="airport">{{airport}}</option>

            </select>
          </label>
        </div>
        <div>
          <label>
            Début
            <input type="datetime-local" id="debut" name="debut" [(ngModel)]="this.debut">
          </label>
        </div>
        <div>
          <label>
            Fin
            <input type="datetime-local" id="fin" name="fin" [(ngModel)]="this.fin">
          </label>
        </div>
        <div>
          <label>
            dataType
            <select [(ngModel)]="this.dataTypeSelected"  name="dataType">
              <option *ngFor="let dataType of datatypes" [value]="dataType" >
                {{dataType}}
              </option>
            </select>
          </label>
        </div>
        <button (click)="this.searchRange()">
          SEARCH
        </button>
      </div>
    </form>
    <table style="margin-top: 20px; border: solid 2px; margin-left: auto; margin-right: auto; width: 100%">
      <tr>
        <th>Date</th>
        <th>Value</th>
        <th>Airport</th>
        <th>Sensor</th>
      </tr>
      <tr *ngFor="let metrics of listMetrics">
        <td>{{metrics?.Date}}</td>
        <td>{{metrics?.Value}}</td>
        <td>{{metrics?.Airport}}</td>
        <td>{{metrics?.Sensor}}</td>
      </tr>
    </table>
  </div>

  <div *ngIf="isAverageForm" style="margin-top: 20px">
    <form>
      <div style="display: flex; flex-direction: row; justify-content: space-evenly">
        <div>
          <label>
            airport
            <select name="airport" [(ngModel)]="airportSelected">
              <option *ngFor="let airport of airports" [value]="airport">{{airport}}</option>

            </select>
          </label>
        </div>
        <div>
          <label>
            Day Date
            <input type="date" name="dayDate" [(ngModel)]="dayDate">
          </label>
        </div>
        <button (click)="this.getAverages()">
          Get Averages
        </button>
      </div>
    </form>

    <table style="margin-top: 20px; border: solid 2px; margin-left: auto; margin-right: auto; width: 100%">
      <tr>
        <th>DataType</th>
        <th>Average</th>
      </tr>
      <tr *ngFor="let average of listAverages">
        <td>{{average?.datatype}}</td>
        <td>{{average?.average}}</td>
      </tr>
    </table>

  </div>


